<!-- Div Superior -->
div(class="Div-Barra")
    div(class="dropdown")
        button(class="dropbtn")= "Usuario"
        div(class="dropdown-content")
            a(href="#")= "Cerrar Sesión"

<!-- Div del menu izquierdo -->
<div class="Div-Nav">
    <div class="img-Nav">
        <img class="Nav-Logo" src="/images/LogoDorado.png">
    </div>

    <div class="btn-Area">
        <button class="Btn-Menu" id="Btn-Estadisticas">
            <img class="Icon" src="/images/Estadistica.svg">
            <P class="btn-name">Estadistica</P>
        </button>
        <button class="Btn-Menu" id="Btn-Clientes">
            <img class="Icon" src="/images/Cliente.svg">
            <P class="btn-name">Clientes</P>
        </button>
        <button class="Btn-Menu" id="Btn-Compras">
            <img class="Icon" src="/images/Compras.svg">
            <P class="btn-name">Compras</P>
        </button>
        <button class="Btn-Menu" id="Btn-Ventas">
            <img class="Icon" src="/images/Ventas.svg">
            <class class="btn-name">Ventas</class>
        </button>
    </div>

</div>
