<!DOCTYPE html>
html(lang="en")
    title="Clientes"
    body
        include ../tools/navigation.pug
        div(class="container")
            div(class="container p-5")
                h3(class="text-center") Clientes
                a(href="/clients/new" class="btn btn-primary mb-4")= "Agregar Cliente"
                table(class="table table-striped" id="table_client")
                    thead
                        tr
                            th(scope="col") Numero de Tarjeta
                            th(scope="col") Cliente
                            th(scope="col") Opciones
                    tbody(id="tbody_client") 
                        tr
                            td 1234 5678 5789
                            td Cristian Mauricio Alfaro Contreras
                            td
                                div.btn-toolbar
                                    button.btn.btn-success Editar
                                    button.btn.btn-danger Deshabilitar
                
        script(src="../../../javascripts/tools/paginate.js")
        script(src="../../../javascripts/client/client.js")
        