<!DOCTYPE html>
html(lang="en")
    include ../tools/head.pug
        link(rel="stylesheet" href="/stylesheets/clients/Clientes-Grid.css")
        title="Clientes"
    body
        include ../tools/navigation.pug
        <!--Div del contenedor-->
        <div class="Div-Contenedor">
            <h3 class="titulo-LCliente">Listado de Clientes</h3>
            <div class="Div-Cliente">
                <table class="table-css" id="table_client">
                thead 
                    <tr>
                        <th >Numero de Tarjeta</th>
                        <th>Cliente</th>
                        <th>Opciones</th>
                    </tr>
                tbody(id="tbody_client") 
                    <tr>
                        <td>1234 5678 5789</td>
                        <td>Cristian Mauricio Alfaro Contreras </td>
                        <td><button class = btn-Naranja>Editar</button>
                            <button class = btn-Rojo>Deshabilitar</button>
                        </td>
                        
                    </tr>
                </table>
                <div class="Grid-Btn">
                    <button class="btn-agregarCliente">Agregar Cliente</button>
                </div>
            </div>
        </div>
        <script src="../../../javascripts/client/client.js"></script>