<!DOCTYPE html>
html(lang="en")
    include ../tools/head.pug
        link(rel="stylesheet" href="/stylesheets/employee/Empleados.css")
        title="Empleados"
    body
        include ../tools/navigation.pug
        <!--Div del contenedor-->
        <div class="Div-Contenedor1">
            <!-- Ingreso de Empleados -->
            h1 Ingreso de Empleados
            <div class="Ingreso">
                <div class="Form-Ingreso ET">
                    <p>Carnet</p>
                    <input id ="ICarnet" type="number" class="Imput-css">
                    <p>Nombre de Empleado</p>
                    <input id ="IEmpleado" type="text" class="Imput-css">
                    <p>DUI</p>
                    <input id ="IDui" type="number" class="Imput-css">
                    <p>Fecha de Nacimiento</p>
                    <input id ="INacimiento" type="date" class="Imput-css">
                    <p>Puesto</p>
                    <input id ="IPuesto" type="text" class="Imput-css">
                    <p>Contacto de Emegencia</p>
                    <input id ="ICEmergencia" type="text" class="Imput-css">
                    <p>Numero de Emergencia</p>
                    <input id ="INEmergencia" type="number" class="Imput-css">
                    <p>Fecha de Contratacion</p>
                    <input id ="IContratacion" type="date" class="Imput-css">
                    <p>Fecha de Baja</p>
                    <input id ="IBaja" type="date" class="Imput-css">
                </div>
                <div class="div-btn-Ingresar">
                    <!--Botones de ingreso-->
                    <div class="btnIMSM">
                        <p id ="PAlertCorrecto" class="p-Exito">Proceso Exitoso</p>
                        <p id ="PAlertFallo"class="p-Error">Proceso Fallido!</p>
                    </div>

                    <div class="btnIbtn">
                        <button id ="I-BTN-Agregar" class="btn-General btn-Verde">Agregar</button>
                        <button id ="I-BTN-Cancelar" class="btn-General btn-Rojo">Cancelar</button>
                    </div>
                </div>
            </div>
            
        </div>
    </body>

    </html>