<!DOCTYPE html>
html(lang="en")
    include ../tools/head.pug
        link(rel="stylesheet" href="/stylesheets/employee/Empleados.css")
        title="Empleados"
    body
        include ../tools/navigation.pug
        div(class="container-fluid pt-4")
            h3(class="text-center") Empleados
            div.p-5.row
                div(class="container col-7 ")
                    table(class="table table-striped" id="table_employee")
                        thead
                            tr 
                                th(scope="col") Carnet
                                th(scope="col") Nombre
                                th(scope="col") Apellido
                                th(scope="col") Rol
                                th(scope="col") 
                        tbody(id="tbody_products")
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous" id="startPage">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            li(class="page-item")
                                button(class="page-link" id="prevPage") 1
                            li(class="page-item")
                                button(class="page-link" id="page") 2
                            li(class="page-item")
                                button(class="page-link" id="nextPage") 3
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next" id="endPage">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                div.container.col-5.card.p-3                       
                    h3(class="text-center") Agregar nuevo empleado
                    form(class="row" role='form'  action="/signup" method="post" name="signup")
                        div(class="col-12" )
                            div(class="form-group")
                                label(for="registerPurchase") Nombre de usuario 
                                input(type="text" class="form-control" id="username" name="username" placeholder="Nombre de usuario")
                        div(class="col-6" )    
                            div(class="form-group")
                                label(for="registerPurchase") Nombre 
                                input(type="text" class="form-control" name="name" placeholder="Nombre")
                            div(class="form-group")
                                label(for="registerPurchase") Seleccione rol
                                select(id="rol" class="form-control")
                                    option(disabled selected) Seleccione tipo
                                    option(value="1") Camisa
                            div(class="form-group")
                                label(for="registerPurchase") Contrase単a
                                input(class="form-control" type="password" name="password" placeholder="Contrase単a")
                        div(class="col-6")
                            div(class="form-group")
                                label(for="registerPurchase") Apellido
                                input(type="text" class="form-control" name="lastname" placeholder="Apellido")
                            div(class="form-group")
                                label(for="registerPurchase") Seleccione sucursal
                                select(id="workshop" class="form-control")
                                    option(disabled selected) Seleccione identificativo
                            div(class="form-group")
                                label(for="registerPurchase") Confirme contrase単a
                                input(type="password" class="form-control" name="validated_password" placeholder="Confirme contrase単a")
                            div(class="form-group")
                                input.btn.btn-primary.btn-block(type="submit" value="Guardar")
    <script src="../javascripts/user/signup.js"></script>
        