<!DOCTYPE html>
html(lang="en")
    include ../tools/head.pug
        link(rel="stylesheet" href="/stylesheets/employee/EmployeeView.css")
        title="Empleados"
    body
        include ../tools/navigation.pug
        <!--Div del contenedor-->
        div(class="Contenedor")
            <!-- Informacion de Empleados -->
            table(class="table table-striped g1")
                thead
                    tr
                        th(colspan="4") Informacion de Empleado
                tbody
                    tr
                        td Carnet
                        td
                        td Contacto de Emergencia
                        td
                    tr
                        td Nombre
                        td
                        td Numero de Contacto
                        td
                    tr
                        td DUI
                        td
                        td Fecha de Contratacion
                        td
                    tr
                        td Fecha de Nacimiento
                        td
                        td Fecha de Baja
                        td
                    tr
                        td Puesto
                        td
                        td
                        td
            div(class="alert alert-success g2" role="alert") Proceso Exitoso!
            div(class="alert alert-danger g2" role="alert") Algo salio Mal!
            div(class="g3")
                button(id="Btn_InfBaja" class="btn btn-danger") Dar de Baja