<!DOCTYPE html>
html
  head
    <title>R-Card</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  body(class='body')
    h1= 'R-Card'
    p= 'Welcome to R-Card'
    <script src="javascripts/main.js"></script>
