<!DOCTYPE html>
<html>
  <head>
    <title>R-Card</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body id="body">
    <h1>R-Card</h1>
    <p>Welcome to R-Card</p>
    <script src="javascripts/main.js"></script>
  </body>
</html>
