<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<form id="form-sing-up">
    <label for="username">Username</label>
    <input type="text" placeholder="username" name="username">
    <label for="email">Email</label>
    <input type="email" placeholder="email" name="email">
    <label for="password">Password</label>
    <input type="password" placeholder="password" name="password">
</form>
<script src="javascripts/login/singup.js"></script>
</body>
</html>