    <!DOCTYPE html>
html(lang="en")
    head
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/global.css" />
        <link rel="stylesheet" href="/stylesheets/clients/Clientes-Grid.css" />
        <!-- referencia para el css -->
        title Clientes
    body
        <!-- Div Superior -->
        <div class="Div-Barra">
            <div class="dropdown">
                <button class="dropbtn">Usuario</button>
                <div class="dropdown-content">
                    <a href="#">Cerrar Sesión</a>
                </div>
            </div>
        </div>
        <!-- Div del menu izquierdo -->
        <div class="Div-Nav">
            <div class="img-Nav">
                <img class="Nav-Logo" src="/images/LogoDorado.png">
            </div>
            <div class="btn-Area">
                <button class="Btn-Menu" id="Btn-Estadisticas">
                    <img class="Icon" src="/images/Estadistica.svg">
                    <P class="btn-name">Estadistica</P>
                </button>
                <button class="Btn-Menu" id="Btn-Clientes">
                    <img class="Icon" src="/images/Cliente.svg">
                    <P class="btn-name">Clientes</P>
                </button>
                <button class="Btn-Menu" id="Btn-Compras">
                    <img class="Icon" src="/images/Compras.svg">
                    <P class="btn-name">Compras</P>
                </button>
                <button class="Btn-Menu" id="Btn-Ventas">
                    <img class="Icon" src="/images/Ventas.svg">
                    <class class="btn-name">Ventas</class>
                </button>
            </div>
        </div>
        <!--Div del contenedor-->
        <div class="Div-Contenedor">
            <h3 class="titulo-LCliente">Listado de Clientes</h3>
        <div class="Div-Cliente">
            <table class="table-css">
                <tr>
                    <th >Numero de Tarjeta</th>
                    <th>Cliente</th>
                    <th>Opciones</th>
                </tr>
                <tr>
                    <td>1234 5678 5789</td>
                    <td>Raul Perez </td>
                    <td><button class = btn-Naranja>Editar</button>
                        <button class = btn-Rojo>Deshabilitar</button>
                    </td>
                    
                </tr>
                <tr>
                    <td>1245 6899 7898</td>
                    <td>Juana Lopez linares</td>
                    <td><button class = btn-Naranja>Editar</button>
                        <button class = btn-Rojo>Deshabilitar</button>
                    </td>
                </tr>
                <tr>
                    <td>4567 3789 2389</td>
                    <td>Pedro Gomez Ruiz</td>
                    <td><button class = btn-Naranja>Editar</button>
                        <button class = btn-Rojo>Deshabilitar</button>
                    </td>
                </tr>
                <tr>
                    <td>5689 3789 2389</td>
                    <td>Maria  Carolina Ramos Ruiz</td>
                    <td><button class = btn-Naranja>Editar</button>
                        <button class = btn-Rojo>Deshabilitar</button>
                    </td>
                </tr>
                <tr>
                    <td>2367 3789 2389</td>
                    <td>Maria Ramos Ruiz</td>
                    <td><button class = btn-Naranja>Editar</button>
                        <button class = btn-Rojo>Deshabilitar</button>
                    </td>
                </tr>
                <tr>
                    <td>7889 3789 4529</td>
                    <td> Patrica Rodriguez  Martinez</td>
                    <td><button class = btn-Naranja>Editar</button>
                        <button class = btn-Rojo>Deshabilitar</button>
                    </td>
                </tr>
            </table>
            <div class="Grid-Btn">
                <button class="btn-agregarCliente">Agregar Cliente</button>
            </div>
        </div>
        </div>
        </div>