<!DOCTYPE html>
html(lang="en")
    include ../tools/head.pug
        link(rel="stylesheet" href="/stylesheets/clients/ClienteNuevo-Grid.css")
        title="Ingresar Cliente"
    body
        include ../tools/navigation.pug
        <div class="Div-Contenedor">
            <h3 class="titulo-ACliente">Agregar Cliente</h3>
            <Div class="Div-grid-IngresarCliente">
                
                
                <input class="Grid-DUI Imput-css" type="text" placeholder="Numero de DUI">
                <input class="Grid-Cliente-Name Imput-css" type="text" placeholder="Nombre">
                <input class="Grid-Cliente-Date Imput-css" type="text" placeholder="Fecha de Nacimiento">
                <input class="Grid-Cliente-Card Imput-css" type="text" placeholder="Numero de Tarjeta">
                <input class="Grid-Cliente-Booking Imput-css" type="text" placeholder="Fecha de Contratacion">
                <input class="Grid-Cliente-Exp Imput-css"type="text" placeholder="Fecha de vencimiento">
                <input class="Grid-Cliente-PIN Imput-css"type="text" placeholder="Numero de PIN">

                <p class="Grid-Error1 p-Error">El cliente ya existe</p>
        <div class="botones">
            <button class="btn-General btn-Verde">Guardar</button>
            <button class="btn-General btn-Rojo">Cancelar</button>
        </div>       
            </Div>

        </div>