<!DOCTYPE html>
html(lang="es")
    title="Productos"
    body
        include ../tools/navigation.pug
        div(class="container-fluid") 
            h3(class="text-center pt-3") Estadisticas
            div.row
                div.col-3
                    div.card.p-3.text-center
                        h5.text-center Top 3 productos mas vendidos
                        small.d-flex.justify-content-center
                            table.table-sm.table-striped
                                thead 
                                    tr
                                        th N
                                        th Producto
                                        th Cantidad
                                tbody#top3desc
                                
                    div.card.p-3.text-center.mt-3
                        h5.text-center Top 3 productos menos vendidos
                        small.d-flex.justify-content-center
                            table.table-sm.table-striped
                                thead
                                    tr
                                        th N
                                        th Producto
                                        th Cantidad
                                tbody#top3asc
                div.col-9
                    div.row
                        table.table
                            thead#statTable
                    div.row.card 
                        div.container
                            div.h75
                                div.row.p-2
                                    div.form-group.col-10
                                        <select id="Select-FiltroBuscador" name="Filtro" class="form-control">
                                            <option id="Option01-FiltroBuscador">Ventas Por Mes</option>
                                            <option id="Option02-FiltroBuscador">Ventas por Año</option>
                                        </select>
                                    div.form-group.col-2
                                        button.btn-block.btn.btn-success(onClick="btnGraficar()") Graficar
                                div.container
                                    canvas#grafica
                        
    <script src="https://cdn.jsdelivr.net/npm/chart.js@latest/dist/Chart.min.js"></script>
    <script src="/javascripts/diagnostics/StadisticGraf.js"></script>
