<!DOCTYPE html>
html(lang="es")
    title="Ventas"
    body
        include ../tools/navigation.pug
        div(class="container-fluid pt-4")
            h3(class="text-center") Ventas
            div.p-5.row
                div(class="container col-8 ")
                    table(class="table table-striped" id="table_sales")
                        thead
                            tr 
                                th(scope="col") Producto
                                th(scope="col") Cantidad
                                th(scope="col") Precio
                                th(scope="col") Sub-Total
                                th(scope="col") Eliminar
                        tbody(id="tbody_products")
                                
                div.container.col-4.card.p-3                   
                    h3(class="text-center") Agregar
                    form(class="row" role='form' method='POST' name="sales")
                        div(class="col-6" )
                            div(class="form-group")
                                label( for="sale") Codigo de producto 
                                input(type="text" class="form-control" id="sale_cod" placeholder="Codigo")
                        div(class="col-6")
                            div(class="form-group")
                                label(for="sale") Cantidad
                                input(type="text" class="form-control" id="sale_cantidad" placeholder="Cantidad")    
                            div(class="form-group")
                                input.btn.btn-primary.btn-block(type="submit" value="Agregar")
                div.container.col-3.card.p-3                   
                    label( width="20px") Total
                                input(type="text" class="form-control" id="sale_Total" value="0")    
                    form(class="row" role='form' method='POST' action='/sales/sale' name="sales")
                        div(class="col-6")
                            div(class="form-group")
                                input.btn.btn-success.btn-block(type="submit" value="Factura")
                        div(class="col-6")  
                            div(class="form-group")
                                input.btn.btn-danger.btn-block(type="submit" value="Cancelar")
        script(src="/javascripts/sales/sales.js")