<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/global.css" />
    <link rel="stylesheet" href="/CSS/Ventas-Grid.css" /><!-- referencia para el css -->
    <title>Estadistica</title>
</head>

<body>
    <!-- Div Superior -->
    <div class="Div-Barra">
        <div class="dropdown">
            <button class="dropbtn">Usuario</button>
            <div class="dropdown-content">
                <a href="#">Cerrar Sesión</a>
            </div>
        </div>
    </div>

    <!-- Div del menu izquierdo -->
    <div class="Div-Nav">
        <div class="img-Nav">
            <img class="Nav-Logo" src="/IMG/LogoDorado.png">
        </div>

        <div class="btn-Area">
            <button class="Btn-Menu" id="Btn-Estadisticas">
                <img class="Icon" src="/IMG/Estadistica.svg">
                <P class="btn-name">Estadistica</P>
            </button>
            <button class="Btn-Menu" id="Btn-Clientes">
                <img class="Icon" src="/IMG/Cliente.svg">
                <P class="btn-name">Clientes</P>
            </button>
            <button class="Btn-Menu" id="Btn-Compras">
                <img class="Icon" src="/IMG/Compras.svg">
                <P class="btn-name">Compras</P>
            </button>
            <button class="Btn-Menu" id="Btn-Ventas">
                <img class="Icon" src="/IMG/Ventas.svg">
                <class class="btn-name">Ventas</class>
            </button>
        </div>
        

    </div>

    <div class="Div-Contenedor"> <!--Div del contenedor-->
        <Div class="Div-grid-Ingresos">
            <input class="Grid-CodPro Imput-css" type="text" placeholder="Codigo de producto">
            <input class="Grid-InputNum Imput-css" type="number" placeholder="Cantidad" min="1">

            <p class="Grid-Error1 p-Error">El producto especificado no existe</p>

            <button class="Grid-BtnAgregar btn-General btn-Naranja">Agregar</button>
        </Div>

        <div class="Div-Grid-Tabla "><!--Div de la tabla-->
            <table class="table-css">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Sub-Total</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Cama</td>
                        <td>1</td>
                        <td>1,000</td>
                        <td>1,000</td>
                        <td> <button class="btn-Eliminar">x</button></td>
                    </tr>
                    <tr>
                        <td>Cama</td>
                        <td>1</td>
                        <td>1,000</td>
                        <td>1,000</td>
                        <td> <button class="btn-Eliminar">x</button></td>
                    </tr>
                    <tr>
                        <td>Cama</td>
                        <td>1</td>
                        <td>1,000</td>
                        <td>1,000</td>
                        <td> <button class="btn-Eliminar">x</button></td>
                    </tr>
                    <tr>
                        <td>Cama</td>
                        <td>1</td>
                        <td>1,000</td>
                        <td>1,000</td>
                        <td> <button class="btn-Eliminar">x</button></td>
                    </tr>
                    <tr>
                        <td>Cama</td>
                        <td>1</td>
                        <td>1,000</td>
                        <td>1,000</td>
                        <td> <button class="btn-Eliminar">x</button></td>
                    </tr>
                    <tr>
                        <td>Cama</td>
                        <td>1</td>
                        <td>1,000</td>
                        <td>1,000</td>
                        <td> <button class="btn-Eliminar">x</button></td>
                    </tr>
                    <tr>
                        <td>Cama</td>
                        <td>1</td>
                        <td>1,000</td>
                        <td>1,000</td>
                        <td> <button class="btn-Eliminar">x</button></td>
                    </tr>
                    <tr>
                        <td>Cama</td>
                        <td>1</td>
                        <td>1,000</td>
                        <td>1,000</td>
                        <td> <button class="btn-Eliminar">x</button></td>
                    </tr>
                    <tr>
                        <td>Cama</td>
                        <td>1</td>
                        <td>1,000</td>
                        <td>1,000</td>
                        <td> <button class="btn-Eliminar">x</button></td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
        <div class="Div-Grid-Total">
            <p class="Grid-Total p-style">Total</p>
            <input class="Grid-Total2 Imput-css" type="text" name="inputname" value="$1000.00" disabled>
        </div>

        <div class="Div-Grid-Btn">
            <p class="p-Error grid-p-Error">Error de Facturacion</p>
            <button class="grid-btnVerde btn-General btn-Verde">Facturar</button>
            <button class="grid-btnRojo btn-General btn-Rojo">Cancelar</button>
        </div>

    </div>

</body>

</html>