<!DOCTYPE html>
html(lang="en")
    include ../tools/head.pug
        link(rel="stylesheet" href="/stylesheets/purchases/ComprasNuevo-Grid.css")
        title="Compras"
    body
        include ../tools/navigation.pug
        <div class="Div-Contenedor">
            <Div class="Div-grid-Ingresos">
                <input class="Grid-CodPro Imput-css" type="text" placeholder="Codigo de producto">
                <input class="Grid-InputNum Imput-css" type="text" placeholder="Nombre">
                <input class="Grid-CodPro2 Imput-css" type="text" placeholder="Marca">
                <input class="Grid-CodPro3 Imput-css" type="text" placeholder="Distintivo">
                <input class="Grid-CodPro4 Imput-css" type="text" placeholder="Existencia">
                <input class="Grid-CodPro5 Imput-css" type="text" placeholder="Precio de venta">
                <p class="Grid-Error1 p-Error">El producto ya existe</p>
        <div class="botones">
            <button class="btn-General btn-Verde">Guardar</button>
            <button class="btn-General btn-Rojo">Cancelar</button>
        </div>       
            </Div>

        </div>