<!DOCTYPE html>
html(lang="en")
    title="Nueva Compra"
    body
        include ../tools/navigation.pug
        div(class="container")
            div(class="container p-5")
                h3(class="text-center") Registrar Producto
                a(href="/purchases/new" class="btn btn-primary mb-4")= "Agregar Producto"
                form(class="row" role='form' method='POST' action='/clients/clients' name="registerPurchase")
                    div(class="col-1")
                    div(class="col-5" )
                        div(class="form-group")
                            label(for="registerPurchase") Codigo de producto
                            input(type="text" class="form-control validate-input" id="product-Codigo" aria-describedby="duiHelp" placeholder="Ejemplo: 00001")
                        div(class="form-group")
                            label(for="registerPurchase") Cantidad 
                            input(type="number" class="form-control" id="product-cantidad" placeholder="Ingres la cantidad de producto")
                        div(class="form-group")
                            label(for="registerPurchase") Precio Unitario
                            input(type="text" class="form-control" id="product-precioUnitario" placeholder="Ingrese el presio unitario")
                    div(class="col-5")
                        div(class="form-group")
                            label(for="registerPurchase") Costo total
                            input(type="number" class="form-control" id="product-costoTotal" placeholder="Ingrese el costo total")
                        div(class="form-group")
                            label(for="registerPurchase") Precio de Venta
                            input(type="number" class="form-control" id="product-PrecioVenta" placeholder="Ingrese el precio de venta")
                        div(class="form-group")
                            label(for="registerPurchase") Fecha de Compra
                            input(type="date"   class="form-control" id="total-compra" )
                        div(class="form-group row")
                            div(class="col-6")
                            div(class="col-6 btn-toolbar")
                                input.btn.btn-success(type="submit"  value="Guardar")  
                                button.btn.btn-danger Cancelar 
                    div(class="col-1")
        <script src="../../../javascripts/purchase/newclient.js"></script>
