<!DOCTYPE html>
html(lang="en")
    include ../tools/head.pug
        link(rel="stylesheet" href="/stylesheets/purchases/ComprasRegistro-Grid.css")
        title="Compras"
    body
        include ../tools/navigation.pug
        <div class="Div-Contenedor">
            <Div class="Div-grid-Ingresos">
                <input class="Grid-CodPro Imput-css" type="text" placeholder="Codigo de producto">
                <input class="Grid-InputNum Imput-css" type="number" placeholder="Cantidad">
                <input class="Grid-CodPro2 Imput-css" type="text" placeholder="Precio unitario">
                <input class="Grid-CodPro3 Imput-css" type="text" placeholder="Costo total">
                <input class="Grid-CodPro4 Imput-css" type="text" placeholder="Precio de venta">
                <input class="Grid-CodPro5 Imput-css" type="date" placeholder="Fecha de compra">
                <textarea class="Grid-CodPro6 Imput-css" name="descripcion" id="1" cols="30" rows="20" placeholder="Descripción"></textarea>
                <p class="Grid-Error1 p-Error">El producto ya existe</p>
                
            <div class="botones">
                    <button class="btn-General btn-Verde">Guardar</button>
                    <button class="btn-General btn-Rojo">Cancelar</button>
            </div> 
            </Div>

        </div>